@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/*
 * Rules for base elements
 */
html {
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: "Open Sans"; }

img {
  width: inherit;
  max-width: 100%;
  height: auto; }

p,
li {
  font-size: 14px;
  font-size: 1.4rem;
  color: #555;
  line-height: 1.5; }

p,
ul,
ol,
dl {
  margin: 0 0 0.5em 0; }

ul,
ol {
  padding-left: 2em; }

p {
  font-size: 16px;
  font-size: 1.6rem;
  overflow: hidden; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: "Raleway"; }

h1 {
  font-size: 36px;
  font-size: 3.6rem; }

h2 {
  font-size: 30px;
  font-size: 3rem; }

h3 {
  font-size: 24px;
  font-size: 2.4rem; }

h4 {
  font-size: 18px;
  font-size: 1.8rem; }

h5 {
  font-size: 12px;
  font-size: 1.2rem; }

h6 {
  font-size: 10px;
  font-size: 1rem; }

footer {
  background: crimson;
  clear: both;
  height: 60px;
  padding: 10px 20px; }
  footer p {
    color: #fff;
    display: inline-block; }

.btn,
.form-submit {
  border: 2px solid crimson;
  color: crimson;
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 10px 15px;
  text-align: center;
  width: 130px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn:hover,
  .form-submit:hover {
    background: crimson;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.btn-add {
  font-weight: bold; }

.comment-form label, .comment-form .username {
  color: #fff; }

.form-submit {
  background: #292929;
  border: 1px solid #fff !important;
  color: #fff;
  display: inline-block;
  width: 100px !important; }
  .form-submit:hover {
    background: crimson;
    color: #fff; }

.social-network {
  float: right; }
  .social-network li {
    display: inline-block;
    margin-left: 10px; }

.face-icon {
  background: url(../img/face.svg) no-repeat; }

.twitter-icon {
  background: url(../img/twitter.svg) no-repeat; }

.twitter-icon, .face-icon {
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 30px; }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  font-size: 1.4rem; }

th, td {
  padding: 0.5em; }

/*
 * Rules for base drupal elements
 */
.tabs {
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin: 10px 0; }
  .tabs li {
    list-style-type: none;
    float: left; }
  .tabs a {
    color: #333;
    font-size: 14px;
    font-size: 1.4rem;
    padding-right: 20px; }
    .tabs a.active {
      color: #000;
      font-weight: 600; }
    .tabs a:hover {
      color: #000;
      text-decoration: none; }

.max-content {
  margin: 0 auto;
  max-width: 1200px !important; }

.main, .nav-main {
  margin: 0 auto;
  max-width: 1200px !important; }

.below-content div:first-child {
  margin: 0 auto;
  max-width: 1200px !important; }

/*
 *Style for container slide product page and conatiner basic info from product page
 */
.ds-2col-stacked-fluid > .group-left, .ds-2col-stacked-fluid > .group-right {
  float: none;
  padding: 0 5px;
  width: 100%; }
  @media (min-width: 800px) {
    .ds-2col-stacked-fluid > .group-left, .ds-2col-stacked-fluid > .group-right {
      margin: 0 0 30px;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%; }
      .ds-2col-stacked-fluid > .group-left:last-child, .ds-2col-stacked-fluid > .group-right:last-child {
        margin-right: 0; } }

.ds-2col-stacked-fluid > .group-left {
  float: left; }

.ds-2col-stacked-fluid > .group-right {
  float: right;
  margin-right: 0; }

/*
 *Styles for header
 */
header {
  background: crimson;
  box-shadow: 0 -4px 20px crimson;
  heigth: auto;
  padding: 30px 0; }
  header .social-network {
    float: right; }
  header .form-text {
    border: 1px solid #fff !important;
    border-radius: 0 !important;
    color: #292929 !important;
    color: #fff;
    padding: 8px 15px !important;
    width: 50% !important; }
    @media (min-width: 767px) {
      header .form-text {
        width: 100px; } }

header.field-content {
  position: absolute; }

.block-search {
  clear: both; }

.site-logo {
  display: none; }

.site-name {
  float: left; }
  .site-name a {
    color: #fff; }

/*
 *Styles for navigation / menu
 */
nav li, .menu li {
  display: none; }
  @media (min-width: 740px) {
    nav li, .menu li {
      display: inline-block; } }
  nav li a, nav li .nolink, .menu li a, .menu li .nolink {
    color: #fff;
    cursor: pointer;
    font-weight: normal; }
    nav li a.active, nav li .nolink.active, .menu li a.active, .menu li .nolink.active {
      color: #292929; }

/*
 *Styles for log in menu and user menu
 */
#block-menu-menu-log-in .menu,
#block-system-user-menu .menu {
  float: right;
  margin-top: 8px; }
  #block-menu-menu-log-in .menu li,
  #block-system-user-menu .menu li {
    display: block;
    float: right; }

/*
 *Styles for drop-down from category link
 */
.expanded .menu {
  background: crimson;
  display: none;
  padding: 20px 0;
  z-index: 3;
  width: 200px; }
  @media (min-width: 740px) {
    .expanded .menu {
      position: absolute; } }
  .expanded .menu a {
    padding-left: 15px; }
  .expanded .menu li {
    display: block;
    margin-left: 0;
    padding: 15px 0;
    width: 100%; }
    .expanded .menu li:hover, .expanded .menu li:hover a {
      background: #fff;
      color: crimson; }

.expanded .menu.drop-down {
  display: block; }

/*
 *MENU COLLAPSE
 */
.menu-collapse {
  overflow: hidden;
  margin: 5px 10px; }

.menu-toggle {
  width: 40px;
  height: 30px;
  margin-top: 15px;
  cursor: pointer; }
  @media (min-width: 740px) {
    .menu-toggle {
      display: none; } }

.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px); }

.menu-toggle.on .two {
  opacity: 0; }

.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px); }

.one,
.two,
.three {
  background: #fff;
  backface-visibility: hidden;
  border-radius: 2px;
  height: 5px;
  margin: 6px 0;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 100%; }

.extended {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .extended li {
    display: block; }

/*
 *Style for info slider home
 */
.views-field-field-slide-info {
  color: crimson;
  background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  height: 45%;
  font-size: 16px;
  font-size: 1.6rem;
  padding: 6px 10px;
  position: absolute;
  width: 65%; }
  @media (min-width: 600px) {
    .views-field-field-slide-info {
      font-size: 20px;
      font-size: 2rem;
      padding: 25px 25px; } }
  @media (min-width: 720px) {
    .views-field-field-slide-info {
      font-size: 24px;
      font-size: 2.4rem;
      padding: 60px 60px;
      width: 45%; } }
  @media (min-width: 900px) {
    .views-field-field-slide-info {
      font-size: 34px;
      font-size: 3.4rem; } }

/*
 *Styles for categories preview in homepage
 */
.ds-1col .entity {
  float: none !important;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  margin: 0 0 30px !important; }
  .ds-1col .entity:last-child {
    margin-right: 0; }
  @media (min-width: 640px) {
    .ds-1col .entity {
      display: inline-block !important;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%;
      text-align: center; }
      .ds-1col .entity:last-child {
        margin-right: 0; } }
  @media (min-width: 800px) {
    .ds-1col .entity {
      display: inline-block !important;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .ds-1col .entity:last-child {
        margin-right: 0; } }

.category a {
  color: crimson;
  font-size: 16px;
  font-size: 1.6rem; }
  .category a:hover {
    font-weight: bold;
    text-decoration: none; }

.category img {
  display: block;
  margin: 0 auto; }

/*
 *Styles for prdouct page detail (product-detail)
 */
.basic-info span {
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 15px; }
  .basic-info span:nth-child(2) {
    font-size: 25px;
    font-size: 2.5rem;
    font-weight: bold; }

.description {
  margin-top: 20px; }

.price {
  color: crimson;
  font-size: 25px;
  font-size: 2.5rem; }

.title {
  display: none; }

.group-header {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .group-header:last-child {
    margin-right: 0; }
  .group-header h2, .group-header h4 {
    margin-bottom: 10px; }
    @media (min-width: 800px) {
      .group-header h2, .group-header h4 {
        margin-left: 51.178825799%; } }
  .group-header a {
    color: #292929;
    text-decoration: underline; }
    .group-header a:hover {
      color: crimson; }

/*
 *Style for video 
 */
.player {
  background: #292929;
  color: #fff;
  padding: 40px 0; }
  .player iframe {
    display: block;
    margin: 0 auto; }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      .player iframe {
        float: left;
        display: block;
        margin-right: 4.8291579146%;
        width: 100%; }
        .player iframe:last-child {
          margin-right: 0; } }

/*
 *Style for slides products
 */
.flex-control-thumbs {
  margin-top: 30px; }

.flex-control-thumbs li {
  float: none;
  width: 27.5%;
  padding: 0 5.5%; }

/*
 *Styles for hightlight producßts home and related products from product page
*/
th, td {
  float: none !important;
  display: inline-block !important;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
  margin-right: 0;
  text-align: center; }
  th:last-child, td:last-child {
    margin-right: 0; }
  @media (min-width: 740px) {
    th, td {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      th:last-child, td:last-child {
        margin-right: 0; } }

/*
 *Style for comments
 */
.comment-wrapper {
  background: #292929;
  padding: 15px 0 0; }
  .comment-wrapper a {
    color: #bbb; }
  @media (min-width: 740px) {
    .comment-wrapper {
      color: crimson;
      overflow: auto;
      padding: 40px 40px; } }

.comment-wrapper {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .comment-wrapper:last-child {
    margin-right: 0; }
  @media (min-width: 740px) {
    .comment-wrapper .comment {
      display: inline-block !important;
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%;
      vertical-align: top; }
      .comment-wrapper .comment:last-child {
        margin-right: 0; } }

.comment {
  background: transparent;
  border: 1px solid crimson;
  color: #fff;
  margin-right: 0 !important;
  float: none !important;
  padding: 15px 15px; }
  .comment p {
    display: inline-block;
    color: #fff;
    font-size: 12px;
    font-size: 1.2rem;
    margin: 0 0 0 15px; }
  .comment .fivestar-user-stars {
    margin-left: 69px; }
  .comment .permalink {
    color: crimson;
    font-size: 16px;
    font-size: 1.6rem; }

.username {
  font-size: 12px;
  font-size: 1.2rem;
  float: left;
  margin-bottom: 0; }

.img-perfil {
  float: left;
  margin-right: 15px;
  width: 55px; }

/*
 *Style for latest comment
 */
.latest-comment a {
  color: #bbb; }

.latest-comment h2 {
  font-size: 20px;
  font-size: 2rem;
  margin: 15px 0 10px; }

.latest-comment .comment {
  background: #292929;
  color: #fff; }

.latest-comment span {
  margin-bottom: 0; }

/*
 *Style for fivestar comments
 */
.fivestar-static-item .form-type-item .description {
  display: none; }

.fivestar-user-text span {
  margin-bottom: 0; }

label,
.webform-container-inline label {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  display: block;
  margin-bottom: 8px; }

label.option {
  display: inline;
  font-weight: 400;
  margin-left: 0.5em; }

select {
  font-size: 12px;
  font-size: 1.2rem;
  width: 100%; }

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  font-size: 12px;
  font-size: 1.2rem;
  border-radius: 3px;
  border: solid #e1e1e1 1px;
  background: #fff;
  margin-bottom: 5px;
  padding: 5px; }

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%; }
  @media screen and (min-width: 767px) {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      max-width: 300px; } }

input[type="checkbox"],
input[type="radio"] {
  font-size: 16px;
  font-size: 1.6rem;
  vertical-align: baseline; }

input[type="submit"] {
  border: 0;
  outline: 0;
  padding: 8px 25px;
  width: 100%;
  margin-bottom: 10px;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  @media screen and (min-width: 767px) {
    input[type="submit"] {
      width: auto;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 0; } }

.form-type-radio {
  margin-bottom: 5px; }

.field-widget-text-textarea .form-type-textarea {
  margin-bottom: 10px; }

.filter-wrapper {
  border: 0;
  background: #fff;
  border-radius: 5px; }

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid red; }

.webform-component {
  margin-bottom: 15px; }

/*# sourceMappingURL=style.css.map */