
.panel-3col-33-stacked {
/*  overflow: hidden;  */
}
.panel-wide {
  width: 100%;
  clear: both;
}

.panel-left-column,
.panel-right-column{
  display: inline-block;
  width: 50%;
}

.panel-right-column{
  float: right;
}
