/*
 *Style for comments
 */

.comment-wrapper{
	background: $color2;
	padding: 15px 0 0;

	a {
		color: $color4;
	}
	
	@media (min-width: 740px) {	
		color: $color1;
		overflow: auto;
		padding: 40px 40px;
	}
}

.comment-wrapper {
	@include span-columns(12);
	
	.comment {
		@media (min-width: 740px) {
			display: inline-block !important;
			@include span-columns(4);
			vertical-align: top;
		}
	}
}

.comment {
	background: transparent;
	border: 1px solid $color1;
	color: $color3;
	margin-right: 0 !important;
	float: none !important;
	padding: 15px 15px;

	p { 
		display: inline-block;
		color: $color3;
		@include font-size(12);
		margin: 0 0 0 25px;
	}

	.fivestar-user-stars {
		margin-left: 69px;
	}

	.permalink {
		color: $color1;
	}

	.username {
		float: left;
	}
}

.fivestar-static-item .form-type-item .description {
	display: none;
}
	
.permalink {
	color: $color1;
	@include font-size(16);
}

.img-perfil {
	float: left;
	margin-right: 15px;
	width: 55px;
}

/*
 *Style for latest comment
 */

.latest-comment {
	a {
		color: $color4;
	}
	
	h2 {
		@include font-size(20);
		margin: 15px 0 10px;
	}

	.comment {
		background: $color2;
		color: $color3;
	}
}














