/*
 *Styles for header
 */
 
header {
	background: $color1;
	box-shadow: 0 -4px 20px $color1;
	heigth: auto;
	padding: 30px 0;

	.social-network {
		float: right;
	}

	.form-text {
	  border: 1px solid $color3 !important;
	  border-radius: 0 !important;
	  color: $color2 !important;
	  color: $color3;
	  padding: 8px 15px !important;
	  width: 50% !important;

	  @media (min-width: 767px) {
	    width: 100px;
	  }
	}
}

header.field-content {
	position: absolute;
}

.block-search {
	clear: both;
}

.site-logo {
  	display: none;
}

.site-name { 
	float: left;

 	a {
    	color: $color3;
  	}
}
