/*
 *Style for info slider home
 */

.views-field-field-slide-info {
	color: $color1;
	background: rgba(255,255,255, .8);
	bottom: 0;
	height: 45%;
	@include font-size(16);
	padding: 6px 10px;
	position: absolute;
	width: 65%;

	@media (min-width: 600px) {
		@include font-size(20);
		padding: 25px 25px;
	}
	
	@media (min-width: 720px) {
		@include font-size(24);
		padding: 60px 60px;
		width: 45%;
	}

	@media (min-width: 900px) {
		@include font-size(34);
	}
}