/*
 * Rules for base elements
 */

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: $contentFont;
}

img {
  width: inherit;
  max-width: 100%;
  height: auto;
}

p, 
li {
  @include font-size(14);
  color: #555;
  line-height: 1.5;
}

p, 
ul, 
ol, 
dl {
  margin: 0 0 0.5em 0;
}

ul, 
ol {
  padding-left: 2em;
}

p {
  @include font-size(16);
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin-top: 0;
  font-family: $titleFont;
}

h1 {
  @include font-size(36);
}

h2 {
  @include font-size(30);
}

h3 { 
  @include font-size(24);
}

h4 {
  @include font-size(18);
}

h5 {
  @include font-size(12);
}

h6 {
  @include font-size(10);
}

footer {
  background: $color1;
  clear: both;
  height: 60px;
  padding: 10px 20px;

  p {
    color: $color3;
    display: inline-block;
  }

}

.btn, 
.form-submit {
  border: 2px solid $color1;
  color: $color1;
  cursor: pointer;
  display: block;
  @include font-size(12);
  padding: 10px 15px;
  text-align: center;
  width: 130px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover {
    background: $color1;
    color: $color3;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.btn-add {
  font-weight: bold;
}

.comment-form {
  label, .username {
    color: $color3;
  }
}

.form-submit {
  background: $color2;
  border: 1px solid $color3 !important;
  color: $color3; 
  display: inline-block;
  width: 100px !important;

  &:hover {
    background: $color1;
    color: $color3;
  } 
}

//btn social network
.social-network {
  float: right;

  li{
    display: inline-block;
    margin-left: 10px;  
  }
}

.face-icon {
  background: url(../img/face.svg) no-repeat;
}

.twitter-icon {
  background: url(../img/twitter.svg) no-repeat;
}

.twitter-icon, .face-icon {
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  height: 30px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 30px;
}

// Tablas
table {
  width: 100%;
  border-collapse: collapse;
  @include font-size(14);
}

th, td {
  padding: 0.5em;
}

/*
 * Rules for base drupal elements
 */

.element-invisible {
  @extend %hidden;
}

// Tabs
.tabs {
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  li {
    list-style-type: none;
    float: left;
  }
  a {
    color: #333;
    @include font-size(14);
    padding-right: 20px;
    &.active {
      color: #000;
      font-weight: 600;
    }
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
}