//
// General layout rules
//
.max-content {
	margin: 0 auto;
	max-width: $max-width !important;
}

.main, .nav-main {
	margin: 0 auto;
	max-width: $max-width !important;
}

.below-content {
	div:first-child{
		margin: 0 auto;
		max-width: $max-width !important;
	}
}

/*
 *Style for container slide product page and conatiner basic info from product page
 */

.ds-2col-stacked-fluid > .group-left, .ds-2col-stacked-fluid > .group-right {
	float: none;
	padding: 0 5px;
	width: 100%;

	@media (min-width: 800px) {
		margin: 0 0 30px;
	   	@include span-columns(6)
	}
}

.ds-2col-stacked-fluid > .group-left {
	float: left;
}

.ds-2col-stacked-fluid > .group-right {
	float: right;
	margin-right: 0;
}