//
// Variables
//

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// Typography
$titleFont: "Raleway";
$contentFont: "Open Sans";

// Colors
$color1: crimson; //crimson
$color2: #292929; //gray
$color3: #fff; //white

// Neat variables
$max-width: 1200px;
$grid-colums: 12;

// Breakpoints
$desktop: 1000px;
$tablet: 700px;
$mobile-large: 500px;
